@page
@model ScoreManagementSystem.Pages.Student.IndexModel
@{
}
<div class="p-4 w-1/4">
	<div class="bg-gray-800 shadow-lg border border-gray-300 rounded-lg p-2">
		<h2 class="text-white font-bold text-xl">News</h2>
	</div>
	<div class="bg-gray-100 border border-gray-300 rounded p-4">

		<ul class="grid grid-cols-1 gap-4">
			<li class="border border-gray-300 rounded">
				<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">
					07/07/23 16:55 : LỊCH NHẬN SÁCH
					GIÁO TRÌNH TIẾNG ANH CHUẨN BỊ PART 2 KỲ SUMMER 2023
				</a>
			</li>
			<li class="border border-gray-300 rounded">
				<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">
					05/07/23 21:06 : {KTX} THÔNG BÁO
					V/V CẮT NƯỚC VỆ SINH BỂ CHỨA ĐỊNH KỲ
				</a>
			</li>
			<li class="border border-gray-300 rounded">
				<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">
					04/07/23 22:13 : Thông báo lịch
					thi thực hành, lịch thi kết thúc học phần lần 1 và lần 2 học kỳ Summer 2023.
				</a>
			</li>
			<li>
				<a href="#"
				   class="inline-block px-6 mr-6 py-2 font-medium px-3 leading-7 float-right text-center text-white uppercase transition bg-blue-600 rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
					More
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="p-4 w-3/4">
	<div class="bg-gray-800 shadow-lg border border-gray-300 rounded-lg p-2">
		<h2 class="text-white font-bold text-xl">Academic Information</h2>
	</div>
	<div class="bg-gray-100 border border-gray-300 rounded p-4">
		<div class="grid grid-cols-2 gap-4">
			<div>
				<div class="bg-gray-800 shadow-lg border border-gray-300 rounded-lg p-2">
					<h2 class="text-white font-bold text-l">Reports</h2>
				</div>
				<div class="grid grid-cols-1 gap-4 rounded p-2">
					<div class="border border-gray-300 rounded">
						<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">Mark report</a>
					</div>
					<div class="border border-gray-300 rounded">
						<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">Academic transcript</a>
					</div>
				</div>
			</div>
			<div>
				<div class="bg-gray-800 shadow-lg border border-gray-300 rounded-lg p-2">
					<h2 class="text-white font-bold text-l">Information Access</h2>
				</div>
				<div class="grid grid-cols-1 gap-4 rounded p-2">
					<div class="border border-gray-300 rounded">
						<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">Weekly timetable</a>
					</div>
					<div class="border border-gray-300 rounded">
						<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">View Syllabuses</a>
					</div>
					<div class="border border-gray-300 rounded">
						<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">EduNext student guideline</a>
					</div>
					<div class="border border-gray-300 rounded">
						<a href="#" class="block py-2 px-3 rounded hover:bg-gray-200">Help/Hỗ trợ</a>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>
		</div>